<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма ввода чисел</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Покупка недвижимости в ДУБАЯХ</h1>
    </header>
    
    <main>
        <section class="form-section">
            <h2>Введите характеристики вашей квартиры:</h2>
            
            <!-- Контейнер для формы -->
            <form id="numberForm" novalidate>
                <label for="area">Площадь квартиры, м²:</label><br>
                <input type="number" id="area" name="area" min="1" step="any" required><br>
                
                <label for="rooms">Количество комнат:</label><br>
                <input type="number" id="rooms" name="rooms" min="1" max="10" required><br>
                
                <label for="totalFloors">Всего этажей в доме:</label><br>
                <input type="number" id="totalFloors" name="totalFloors" min="1" max="50" required><br>
                
                <label for="floor">Этаж квартиры:</label><br>
                <input type="number" id="floor" name="floor" min="1" max="50" required><br>
                
                <button type="button" onClick="submitForm()">Отправить</button>
            </form>
            
            <p id="response"></p>
        </section>
    </main>

    <footer>
        © Компания, ООО "Вадим Веб-разработчик"
    </footer>

    <script src="/static/scripts.js"></script>
</body>
</html>